*{
	margin: 0px;
	padding: 0px;
}
#top_header{
	background: #336699;
	color: #FFFFFF;
}
#top_header li{
	display:inline-block;
	list-style:none;
}
#top_header ul{
	display:inline-block;
	list-style:none;
}
#top_header h1{
	font: bold 38px Tahoma;
	margin: 0px 0px 0px 150px;
}
#top_header h2{
	font: 15px Calibri;
	margin: 15px 60px  0px 800px;
}
#top_header h3{
	font: 15px Calibri;
	margin:15px 150px 0px 30px;
}
#top_header h4{
	margin:0px 10px 0px 470px;
}
#top_header h5{
	margin:0px 0px 0px 0px;
}
#top_header h6{
	margin:0px 0px 0px 10px;
}
.button{
	background-color: #6699cc;
	color:#FFFFFF;
	padding: 2px 5px;
	border: 1px solid black;
}
#top_header a{
	font: 15px Calibri;
	margin:0px 0px 0px 985px;
	color:#99CCFF;
}
header, section, aside, article{
	display: block;
}
#main_section{
	padding: 50px 150px;
	font: 20px Calibri;
	background:#F0F0F0;
}
#new_acc{
	margin: 0px 0px 0px 170px;
}
#new_acc h1{
	font: 38px Tahoma;
}
#new_acc h2{
	font: 20px Calibri;
}
#main_section li{
	display:inline-block;
	list-style:none;
}
#main_section input[type=text] {
    border-radius: 6px;
	color: #A9A9A9;
    padding: 10px 10px;
    margin: 8px 0;
	width: 90%;
	font:  17px Calibri;
}
#main_section h3{
	margin:0px 10px 0px 90px;
}
#main_section h4{
	margin:0px 10px 0px 90px;
}
#main_section h5{
	margin:0px 0px 0px 630px;
}
#main_section h6{
	margin:0px 0px 0px 630px;
}
#main_section ul{
	float:left;
	display:inline-block;
	list-style:none;
}
#side h2{
	font: 20px Calibri;
	margin: 0px 0px 0px 630px;
}
#Day{
	margin: 0px 0px 0px 630px;
}
select {
    padding: 10px;
    border: 1px solid #e0e0d1;
    background-color: #FFFFFF;
}
#sid{
	display:inline-block;
	list-style:none;
}
#sid h1{
	font: 20px Calibri;
}
#sid h2{
	margin: 0px 0px 0px 630px;
}
.buton{
	margin: 0px 0px 0px 630px;
	border: 1px solid black;
	border-radius: 6px;
	background-color: #00b300;
	color:#FFFFFF;
	padding: 10px 20px;
	font: 20px Calibri;
}